[user]
	name = Gabriel Reed
	email = gabrieljreed@gmail.com
[core]
	editor = nvim
[diff]
	tool = nvimdiff
	algorithm = histogram  # Improved diffing algorithm
	colorMoved = plain  # Color moved text a different color than added/deleted text
	renames = true  # Detect renamed files
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	last = log -1 HEAD
	l = log --oneline -n 10
	su = stash --keep-index -u  # Stash untracked
	dt = difftool
	unstage = reset HEAD --
	fp = !git fetch -p && git pull
	cl = "!git add CHANGELOG.md && git commit -m \"Update changelog\""
    parent = "!git for-each-ref --format='%(refname:short)' refs/heads | grep -vx \"$(git branch --show-current)\" | while read b; do echo \"$(git rev-list --count $b..HEAD) $b\"; done | sort -n | head -1 | cut -d' ' -f2"
    pstat = "!git diff --stat $(git merge-base $(git parent) HEAD)"
[core]
	autocrlf = false
    eol = lf
	excludesfile = ~/.config/git/ignore  # Global gitignore file
[advice]
	addIgnoredFile = false
[credential]
	helper = manager
[fetch]
	prune = true  # Keeps branches up to date with origin
	pruneTags = true  # Keeps tags up to date with origin
	all = true
[commit]
	verbose = true  # Puts diff output in commit message so you can see what you're committing
[init]
    defaultBranch = main
[rerere]
	autoupdate = true
	enabled = true
